// Scheme colors --------------------------------------------
white        = #fff
orange       = #be7261
black        = #000
darkest-grey = #484848
dark-grey    = #595959
grey         = #737373
light-grey   = #cccccc
blue         = #00a5e1
