// Common classes ---------------------------------------
.tac
  text-align center
.ttu
  text-transform uppercase
.bg-white
  background-color white
.bg-orange
  background-color orange
.bg-pattern
  background-image url('/images/pattern.jpg')
.white
  color white
.black
  color black
.orange
  color orange
.darkest-grey
  color darkest-grey
.dark-grey
  color dark-grey
.grey
  color grey
.light-grey
  color light-grey
.blue
  color blue
.fs-10
  font-size fontSize-smallest
.fs-14
  font-size fontSize-smaller
.fs-15
  font-size fontSize-small
.fs-16
  font-size fontSize-base
.fs-17
  font-size fontSize-large
.fs-18
  font-size fontSize-larger
.fs-20
  font-size fontSize-largest
.fs-26
  font-size fontSize-jumbo
.right
  float right
.u-bold
  font-weight bold
.u-italic
  font-style italic
