// Media queries ranges // ----------------------
small-min   =  0px
small-max   =  640px
medium-min  =  641px
medium-max  =  959px
large-min   =  960px
// Devices // -----------------------------------
mobile                  = 'screen and (min-width: small-min) and (max-width: small-max)'
mobile-portrait         = 'screen and (min-width: small-min) and (max-width: small-max) and (orientation: portrait)'
mobile-landscape        = 'screen and (min-width: small-min) and (max-width: small-max) and (orientation: landscape)'
tablet                  = 'screen and (min-width: medium-min) and (max-width: medium-max)'
tablet-desktop          = 'screen and (min-width: medium-min)'
desktop                 = 'screen and (min-width: large-min)'
max1060                 = 'screen and (max-width: 1060px)'
