.row
  cf()
input[type="text"],
input[type="email"]
  appearance none
  box-shadow none
  border-radius none
  outline none
  font-family type-arial
  width 100%
  margin-bottom rem(8)
  border 1px solid orange
  border-radius 2px
  text-align left
  &.name
    background-image url("/images/icons-sprite.png")
    background-repeat no-repeat
    background-position 0 -3px
    padding rem(9px 13px 9px 49px)
  &.email
    background-image url("/images/icons-sprite.png")
    background-repeat no-repeat
    background-position 4px -44px
    padding rem(9px 13px 9px 49px)
input[type="checkbox"]
  opacity 0
  position relative
  left 23px
  top -1px
input[type="submit"]
  appearance none
  border none
  outline none
  center(250px)
  min-width 250px
  padding rem(14 0)
  margin-bottom rem(42)
  border-radius 100px
  cursor pointer
  &:hover,
  &:active
    transition-duration .4s
  &:hover
    background-color darken(orange, 10%)
  &:active
    box-shadow inset 0 0 10px darken(orange, 40%)
label
  display inline-block
  margin-bottom rem(45)
  line-height 1.6
input[type="checkbox"] + label .checkbox
  position relative
  top 4px
  display inline-block
  width 18px
  height 18px
  background-color white
  border 1px solid orange
  border-radius 2px
  margin-right rem(13)
input[type="checkbox"]:checked + label .checkbox
  svg.tick
    opacity 1
svg.tick
  position absolute
  top 0
  left 0
  opacity 0
  transition-duration .3s
input[type="submit"]:disabled
  transition-duration .4s
  cursor default
  background-color rgba(orange, .75)
p.hint
  margin-bottom 0
p.submitted
  margin-bottom rem(10)
@media mobile
  .email-field,
  .name-field
    center(95%)
    margin-bottom rem(20px)
  input[type="text"],
  input[type="email"]
    text-align left
    &.name
      background-position 4px -5px
    &.email
      background-position 4px -45px
@media tablet-desktop
  .name-field,
  .email-field
    col(1/2)
    margin-bottom rem(20)
  .email-field
    margin-bottom 0
