input[type="text"]
  col(1/2)
  padding 9px 13px 9px 23px
  appearance none
  box-shadow none
  border-radius none
  outline none
  font-family type-arial
  border 1px solid orange
  border-radius 2px
  text-align left
  margin-bottom 20px
  &.name
    //background-image url("/images/icons-sprite.png")
    background-repeat no-repeat
    background-position 0 0
  &.email
    margin-right 0
    //background-image url("/images/icons-sprite.png")
input[type="checkbox"]
  margin-bottom 45px
  margin-right 13px
  border 1px solid orange
input[type="submit"]
  center(250px)
  border-radius 100px
  border none
  min-width 250px
  outline none
  padding 14px 0
  margin-bottom 42px
  cursor pointer
