form
  cf()
input[type="text"]
  col(1/2)
  appearance none
  box-shadow none
  border-radius none
  outline none
  font-family type-arial
  border 1px solid orange
  border-radius 2px
  text-align left
  margin-bottom 20px
  &.name
    padding 9px 13px 9px 40px
    background-image url("/images/icons-sprite.png")
    background-repeat no-repeat
    background-position 0 -3px
  &.email
    padding 9px 13px 9px 49px
    margin-right 0
    background-image url("/images/icons-sprite.png")
    background-repeat no-repeat
    background-position 4px -44px
input[type="checkbox"]
  display none
input[type="submit"]
  center(250px)
  border-radius 100px
  border none
  min-width 250px
  outline none
  padding 14px 0
  margin-bottom 42px
  cursor pointer
  &:hover,
  &:active
    transition-duration .4s
  &:hover
    background-color darken(orange, 10%)
  &:active
    box-shadow inset 0 0 10px darken(orange, 40%)
label.grey
  display block
  margin-bottom 45px
input[type="checkbox"] + label .checkbox
  position relative
  top 4px
  display inline-block
  width 18px
  height 18px
  background-color white
  border 1px solid orange
  border-radius 2px
  margin-right 13px
input[type="checkbox"]:checked + label .checkbox
  svg.tick
    opacity 1
svg.tick
  position absolute
  top 0
  left 0
  opacity 0
  transition-duration .3s
