.logos
  padding 13px 0 14px 0
  center(1000px)
  a
    display inline-block
  img
    width 100%
a.top
  position relative
  left -22px
a.caixa
  max-width 258px
  width 26.8%
a.forum
  max-width 212px
  width 20%
.banner
  padding 30px 0
  img
    width 48%
    min-width 280px
h1
  display none
@media max1060
  a.top
    left 0
