body
  font-family type-arial
  font-size 16px
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  box-sizing border-box
*,
*:before,
*:after
  box-sizing inherit
a
  text-decoration none
  &:hover
    text-decoration underline
.logos
  padding 13px 0 14px 0
  center(1000px)
  a
    display inline-block
.banner
  padding 30px 0
  img
    width 531px
