body
  font-family type-arial
  font-size 16px
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  box-sizing border-box
*,
*:before,
*:after
  box-sizing inherit
::selection
  background-color rgba(orange, .25)
::-moz-selection
  background-color rgba(orange, .25)
a
  text-decoration none
  &:hover
    text-decoration underline
@media mobile
  body
    font-size 14
