section.main
  padding rem(63 0 37 0)
section.images
  position relative
  h2
    display none
picture.slideshow
  center(960px)
  margin-bottom rem(30)
  img,
  source
    width 98%
.player-window
  position absolute
  width 36px
  height 28px
  top 80px
  left calc(50% - 18px)
  overflow hidden
img.play
  position absolute
  top -196px
  left calc(50% - 30px)
  width 60px
section.content
  center(600px)
h2
  margin-bottom rem(20)
  line-height 1.25em
h3
  margin-bottom rem(30)
p
  margin-bottom rem(12)
ul.share-icons
  margin-bottom rem(36)
  display flex
  align-items center
  justify-content center
  li
    margin-right rem(10)
    display inline-block
    line-height 29px
    transition-duration .3s
  li:not(.share)
    border 1px solid orange
    border-radius 100px
    width 30px
    height 30px
    margin-right rem(5)
  li:last-child
    margin-right 0
  li:hover:not(.share)
    background-color rgba(white, .6)
  a
    display block
    width 100%
    height 100%
    position relative
    overflow hidden
  img.email
    position absolute
    display inline-block
    top -52px
    left 1px
    width 95%
p.black.fs-14
  line-height 1.2
a.prado
  min-width 250px
  width 58.5%
  max-width 351px
  display inline-block
  img
    width 100%
@media mobile
  section.content
    center(90%)
  section.images
    .player-window
      top 30%
@media tablet
  section.images
    .player-window
      top 38%
