main
  padding 63px 0 37px 0
ul.slideshow
  center(960px)
  margin-bottom 46px
  display flex
  align-items center
  justify-content center
  li
    display inline-block
  img.centered
    width 345px
  img.middle
    width 148px
  img.bottom
    width 158px
.content
  center(600px)
h3
  margin-bottom 20px
h4
  margin-bottom 30px
p
  margin-bottom 12px
ul.share-icons
  margin-bottom 36px
  li
    margin-right 10px
    display inline-block
    line-height 29px
  li:not(.share)
    border 1px solid orange
    border-radius 100px
    width 30px
    height 30px
    margin-right 5px
  a
    display block
