// Types ------------------------------------------------------------
type-times-new-roman = 'Times New Roman', Times, serif
type-arial           = Arial, 'Helvetica Neue', Helvetica, sans-serif
// Font size -------------------------------------------------------
fontSize-smallest    = 0.625em
fontSize-smaller     = 0.875em
fontSize-small       = 0.938em
fontSize-base        = 1em
fontSize-large       = 1.063em
fontSize-larger      = 1.125em
fontSize-largest     = 1.250em
fontSize-jumbo       = 1.650em
h1,
h2
  font-family type-times-new-roman
