p.darkest-grey.fs-16.more
  span.u-bold La belleza cautiva. Pequeños tesoros del Museo del Prado. 
  span En CaixaForum Barcelona, hasta el 5 de enero de 2015. <a class="u-bold blue" href="http://berepublic.com" target="_blank">Más información.</a>
p.black.fs-10.copyright © Fundación Bancaria Caja de Ahorros y Pensiones de Barcelona, ”la Caixa”. Todos los derechos reservados. 
