p La belleza cautiva. Pequeños tesoros del Museo del Prado. En CaixaForum Barcelona, hasta el 5 de enero de 2015. <a href="http://berepublic.com" target="_blank">Más información.</a>
p © Fundación Bancaria Caja de Ahorros y Pensiones de Barcelona, ”la Caixa”. Todos los derechos reservados. 
