head
  title Pequeños tesoros del museo del Prado | Obra social La Caixa
  meta(name="description" content="Aina Clotet se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras del Museo del Prado y te lo cuenta en cinco vídeos exclusivos")
  meta(name="keywords" content="Museo Nacional del Prado, Prado, Aina Clotet, la Caixa, Obra Social la Caixa, Forum Barcelona")
  meta(property="fb:app_id" content="302184056577324")
  meta(property="og:title" content="La belleza cautiva, pequeños tesoros del museo del Prado")
  meta(property="og:description" content="Aina Clotet se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras del Museo del Prado y te lo cuenta en cinco vídeos exclusivos")
  meta(property="og:site_name" content="La belleza cautiva")
  meta(property="og:url" content="http://labellezacautiva.surge.sh")
  meta(property="og:type" content="website")
  meta(property="og:image" content="http://labellezacautiva.surge.sh/images/aina-clotet/aina-clotet-museo-nacional-prado.png")
  meta(name="twitter:title" content="La belleza cautiva, pequeños tesoros del museo del Prado")
  meta(name="twitter:description" content="Aina Clotet se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras del Museo del Prado y te lo cuenta en cinco vídeos exclusivos")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="La belleza cautiva")
  meta(name="twitter:image" content="http://labellezacautiva.surge.sh/images/aina-clotet/aina-clotet-museo-nacional-prado.png")
  meta(name="twitter:domain" content="http://labellezacautiva.surge.sh")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
