.logos
  a.top(href="https://obrasocial.lacaixa.es/" target="_blank" title="Obra Social la Caixa")
    img(src="/images/logos/obra-social-la-caixa.jpg" alt="Obra Social la Caixa")
  a.right.top(href="https://obrasocial.lacaixa.es/nuestroscentros/caixaforumbarcelona/caixaforumbarcelona_ca.html" target="_blank" title="Caixa Forum Barcelona")
    img(src="/images/logos/caixa-forum-barcelona.jpg" alt="Caixa Forum Barcelona")
.banner.bg-orange.tac
  img(src="/images/logos/la-belleza-cautiva.svg" alt="La belleza cautiva, pequeños tesoros del Museo del Prado" title="La belleza cautiva, pequeños tesoros del Museo del Prado")
