ul
  li
    span image1
  li
    span image2
  li
    span image3
  li
    span image4
  li
    span image5

h3.tac Aina Clotet se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras y te lo cuenta en cinco vídeos exclusivos.
h4.tac Y a ti, ¿qué te cautiva de la belleza?
p.tac Introduce tus datos y recibirás el enlace para verlos

form.tac(action="MAILTO:someone@example.com" method="post" enctype="text/plain")
  input(type="text" name="name" placeholder="Nombre y apellidos")
  input(type="text" name="mail" placeholder="E-mail")
  input(type="submit" value="Recibir enlace")

ul.tac
  li
    span Compartir
  li
    span Facebook
  li
    span Twitter
  li
    span Email

p.tac Exposición coorganizada por el Museo Nacional del Prado y la Obra Social "la Caixa"
ul.tac
  li
    span Gobierno de España
  li
    span Ministerio de educación
  li
    span Museo nacional el prado
