ul.slideshow
  li
    img.bottom(src="/images/aina-clotet/aina-clotet-museo-nacional-prado-0.png" alt="Aina Clotet")
  li
    img.middle(src="/images/aina-clotet/aina-clotet-museo-nacional-prado-1.png" alt="Aina Clotet")
  li
    img.centered(src="/images/aina-clotet/aina-clotet-museo-nacional-prado-2.png" alt="Aina Clotet")
  li
    img.middle(src="/images/aina-clotet/aina-clotet-museo-nacional-prado-3.png" alt="Aina Clotet")
  li
    img.bottom(src="/images/aina-clotet/aina-clotet-museo-nacional-prado-4.png" alt="Aina Clotet")

.content
  h3.darkest-grey.fs-18
    span.orange.u-bold Aina Clotet 
    span se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras y te lo cuenta en cinco vídeos exclusivos.
  h4.orange.fs-26.u-bold Y a ti, ¿qué te cautiva de la belleza?
  p.darkest-grey.fs-18 Introduce tus datos y recibirás el enlace para verlos:

  form(action="MAILTO:manfredmiravitllasmas@gmail.com" method="post" enctype="text/plain")
    input.light-grey.fs-17.name(type="text" name="name" placeholder="Nombre y apellidos")
    input.light-grey.fs-17.u-italic.email(type="text" name="mail" placeholder="E-mail")
    input#read.grey(type="checkbox" name="check")
    label.grey.fs-15(for="read") Declaro que he leído las <a class="orange u-bold" href=http://google.es">condiciones</a> y las acepto.
    input.white.bg-orange.fs-20.u-bold(type="submit" value="Recibir enlace")

  ul.share-icons
    li.share
      span.dark-grey.fs-14 Compartir
    li
      a.orange(href="http://facebook.com" target="_blank")
        i.fa.fa-facebook
    li
      a.orange(href="http://twitter.com" target="_blank")
        i.fa.fa-twitter
    li
      a.orange(href="http://google.com" target="_blank")
        i.fa.fa-envelope-o

  p.black.fs-14 Exposición coorganizada por el Museo Nacional del Prado y la Obra Social "la Caixa"

  a(href="https://www.museodelprado.es/aprende/enciclopedia" target="_blank")
    img(src="/images/logos/museo-nacional-del-prado.png" alt="Museo Nacional del Prado, Ministerio de educación, cultura y deporte")
