ul
  li
    span image1
  li
    span image2
  li
    span image3
  li
    span image4
  li
    span image5

h3.darkest-grey Aina Clotet se ha dejado cautivar por la belleza de algunas de estas pequeñas grandes obras y te lo cuenta en cinco vídeos exclusivos.
h4.orange Y a ti, ¿qué te cautiva de la belleza?
p.darkest-grey Introduce tus datos y recibirás el enlace para verlos

form(action="MAILTO:someone@example.com" method="post" enctype="text/plain")
  input.light-grey(type="text" name="name" placeholder="Nombre y apellidos")
  input.light-grey(type="text" name="mail" placeholder="E-mail")
  input.grey(type="checkbox" name="check" value="Declaro que he leído las condiciones y las acepto.")
  input(type="submit" value="Recibir enlace")

ul
  li
    span Compartir
  li
    i.fa.fa-facebook
  li
    i.fa.fa-twitter
  li
    i.fa.fa-envelope-o

p Exposición coorganizada por el Museo Nacional del Prado y la Obra Social "la Caixa"
ul
  li
    span Gobierno de España
  li
    span Ministerio de educación
  li
    span Museo nacional el prado
